{{- if (eq .chezmoi.os "darwin") -}}
#!/bin/bash

set -eufo pipefail

formulae=(
	autojump
	bat
	curl
	deno
	fzf
	git
	git-delta
	git-gui
	jq
	less
	nano
	nvm
	tealdeer
	wget
	yarn
	zplug
    docker
    go
	golangci-lint
	kubectx
	gh
	cockroachdb/tap/cockroach
	helm
	ansible
	golang-migrate
	nats-io/nats-tools/nats
	istioctl
	telnet
	k3d
	tilt-dev/tap/tilt
	ory/tap/cli
	ory/tap/keto
	ory/tap/oathkeeper
	ory/tap/hydra
	ory/tap/kratos
	handbrake
	stern
)
casks=(
	aerial
	clipy
	google-chrome
	kap
	iterm2
	visual-studio-code
    postman
	slack
    discord
    lens
    spotify
    figma
    clickup
    readdle-spark
    numi
    tiles
    bitwarden
    authy
	obsidian
	autodesk-fusion360
	blender
	istat-menus
	superslicer
	balenaetcher
	font-fira-code-nerd-font
	beekeeper-studio
	cyberduck
	handbrake
)

brew tap -q homebrew/cask-fonts
brew tap nats-io/nats-tools

brew update

brew install ${formulae[@]}
brew install --cask ${casks[@]}

brew cleanup
{{ end }}