{{- if (eq .chezmoi.os "darwin") -}}
#!/bin/bash

set -eufo pipefail

formulae=(
	autojump
	bat
	curl
	deno
	fzf
	git
	git-delta
	git-gui
	jq
	less
	nano
	nvm
	tealdeer
	wget
	yarn
	zplug
    docker
    go
	golangci-lint
	kubectx
	gh
	cockroachdb/tap/cockroach
)
casks=(
	aerial
	clipy
	google-chrome
	kap
	iterm2
	visual-studio-code
    postman
	slack
    discord
    lens
    spotify
    figma
    clickup
    readdle-spark
    numi
    tiles
    bitwarden
    authy
	obsidian
	autodesk-fusion360
	blender
	istat-menus
	superslicer
	balenaetcher
	font-fira-code-nerd-font
)

brew tap -q homebrew/cask-fonts

brew update

brew install ${formulae[@]}
brew install --cask ${casks[@]}

brew cleanup
{{ end }}