{{- if (eq .chezmoi.os "darwin") -}}
#!/bin/bash

set -eufo pipefail

formulae=(
	autojump
	bat
	curl
	deno
	fzf
	git
	git-delta
	git-gui
	jq
	less
	nano
	nvm
	tealdeer
	wget
	yarn
	zplug
    docker
    go
)
casks=(
	aerial
	clipy
	google-chrome
	kap
	iterm2
	visual-studio-code
    brave-browser
    postman
    slack
)

brew update

brew install ${formulae[@]}
brew install --cask ${casks[@]}

brew cleanup
{{ end }}