{{- if (eq .chezmoi.os "darwin") -}}
#!/bin/bash

set -eufo pipefail

formulae=(
	watch
	ansible
	autojump
	awscli
	bat
	cockroachdb/tap/cockroach
	curl
	deno
	fzf
	gh
	git
	git-delta
	git-gui
	golang-migrate
	golangci-lint
	handbrake
	helm
	istioctl
	jq
	k3d
	kubectx
	less
	nano
	nats-io/nats-tools/nats
	nvm
	starship
	stern
	tealdeer
	telnet
	tilt-dev/tap/tilt
	wget
	yarn
	zplug
    docker
    go
	libpq
	terragrunt
	terraform
	k9s
	python
	node
	danielfoehrkn/switch/switch
	krew
	argocd
	cmctl
	terraform-docs
	siderolabs/talos/talosctl

{{- if eq .location "personal" }}
	ory/tap/cli
	ory/tap/keto
	ory/tap/oathkeeper
	ory/tap/hydra
	ory/tap/kratos
{{- end }}

{{- if eq .location "work" }}
{{- end }}
)
casks=(
	aerial
	clipy
	google-chrome
	kap
	iterm2
	visual-studio-code
    postman
	slack
	lens
    spotify
    figma
    numi
    tiles
    authy
	obsidian
	istat-menus
	font-fira-code-nerd-font
	beekeeper-studio
	cyberduck
	handbrake
	brave-browser
	logi-options-plus

{{- if eq .location "personal" }}
	discord
	clickup
	readdle-spark
    bitwarden
	autodesk-fusion360
	blender
	superslicer
	balenaetcher
{{- end }}

{{- if eq .location "work" }}
	leapp
	session-manager-plugin
{{- end }}
)

brew tap -q homebrew/cask-fonts
brew tap nats-io/nats-tools

brew update

brew install ${formulae[@]}
brew install --cask ${casks[@]}

brew cleanup
{{ end }}